# ==================== BANCO DE DADOS (AIVEN) ====================
DB_HOST=seu-host-do-aiven.aivencloud.com
DB_PORT=3306
DB_NAME=meu_controle_financeiro_web
DB_USER=seu_usuario_dev
DB_PASSWORD=sua_senha

PORT=3000
NODE_ENV=development